body {
    background: linear-gradient(to bottom, #00001b, #151884); /* Gradient from navy blue to a lighter shade */
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow-x: hidden;
  }
  
  .box {
    background: rgba(0, 0, 0, 0.7); /* Adding a semi-transparent background color for better text readability */
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 600px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0.3);
    transform: translateX(400%);
    transition: transform 1s ease;
  }


  h1 {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    margin: 30px;
    text-shadow: 2px 2px 10px #000;
  }
  
  
  .box:nth-of-type(even) {
    transform: translateX(-400%);
  }
  
  .box.show {
    transform: translateX(0);
  }
  
  .box .content {
    text-align: center;
  }
  
  .box img {
    max-width: 80%; /* Maaking sure images don't exceed the container width */
    height: auto; /* Maintain image aspect ratio */
    border-radius: 20px 20px 0 0; /* Rounded corners only at the top */
  }
  
  .box p {
    margin-top: 10px; /* Space below the image */
  }
  
  h2 {
    font-size: 45px;
    text-shadow: 2px 2px 3px #000;
  }
  